@font-face {
    font-family: Firicico;
    src: url("./font/Firicico-Italic.ttf");
    font-weight: 400;
}

:root {
    --pink: #c691e7;
    --blue: #85aafb;
    --turquise: #84dbcb;
    --dark-blue: #031627;
    --yellow: #eac491;
    --gray: #041a31;
}

body {
    margin: 0px;
    font-family: "Kodchasan";
    color: #e0e0e0;
    font-size: 15px;
    background: var(--dark-blue);
}

.link {
    color: var(--yellow);
    transition: 0.2s ease;
    text-decoration: none;
}

.link:hover {
    opacity: 0.8;
    text-decoration: none;
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.full-screen.auto-height,
.container.auto-height,
.wide-container.auto-height {
    min-height: auto;
}

.pt-40 {
    padding-top: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}

.container {
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
    align-items: center;
    grid-gap: 40px;
}

.wide-container {
    width: 90%;
    max-width: 95%;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
    align-items: center;
    grid-gap: 40px;
}

.container.single-grid,
.wide-container.single-grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
}

.home-name {
    font-family: "Firicico";
    font-size: 2em;
    color: var(--turquise);
    margin: 0px;
}

.home-title {
    font-size: 1.5em;
    color: var(--blue);
    margin: 0px;
}

.homescreen .screen-left {
    text-align: right;
}

.home-data-icon {
    margin-right: 10px;
}

.project-heading {
    color: var(--pink);
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.project-subheading {
    margin-top: 0px;
    font-size: 1.5em;
}

.project-body {
    margin: 0px;
    font-size: 1.1em;
}

.project-text {
    margin: 7px 0px;
}

.project-body-highlighted {
    color: var(--turquise);
    font-weight: 600;
}

.project-functionalities-heading {
    margin-top: 20px;
    font-size: 1.2em;
}

.project-functionalities-heading {
    color: var(--blue);
}

.project-functionalities {
    line-height: 1.5em;
}

.project-text-label,
.project-body-highlighted {
    display: inline-block;
    vertical-align: middle;
}

.project-text-label {
    margin-right: 5px;
}

.small-projects .project-heading {
    font-size: 2em;
    color: var(--yellow);
}

.full-screen.footer,
.container.footer {
    height: auto;
    min-height: auto;
}

.full-screen.footer {
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 1.2em;
    color: var(--pink);
}
